{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="row justify-content-center">

    <div class="col-8">
    <h1>Delete Employer "{{ object.nom }}"</h1>
    <p>Are you sure you want to delete </p>
    <form action="" method='post'>
        {% csrf_token %}
        <button type="submit" class='btn btn-primary'>Yes, delete this Emp</button>
        <a href="{% url 'list' %}" class='btn btn-danger'>Cancel</a>
    </form>
    </div>
    </div>


{% endblock content %}