{% extends 'layouts/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

{{ form.search_query|attr:"type:search" }}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="table-responsive py-4">
            <table class="table table-centered table-nowrap mb-0 rounded" id="datatable">
                <thead class="thead-light">
                    <tr>
                        {% for f in field %}
                        <th>{{f}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <!--Employer-->
                    
                        {% for e in object_list %}
                        <tr>
                            {% for f in field %}
                        <td>{{ e.}}</td>
                        {% endfor %}
                        </tr>
                        {% endfor %}
                    
                    
                
                
                </tbody>
            </table>
        </div>
        

        <div class='d-grid my-5'>
            <a href="{% url 'emp_creat' %}" class='btn btn-primary'>
                Add New Employer
            </a>
        </div>
    </div>
</div>


{% endblock content %}